.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  width: 780px;
  float: left;
}

.user-interface{
  width: 140px;
  float: right;
}

.main-header {
  margin-bottom: 55px;
}

.title {
  margin-bottom: 25px;
}

.bread-crumbs {
  font-size: 0;
  margin-bottom: 45px;
}

.bread-crumbs a {
  margin-right: 40px;
}

.crumb {
  display: inline-block;
  font-size: 14px;
}

.mens-classic {
  margin-bottom: 65px;
}

.price-features {
  width: 380px;
  float: left;
}

.price-list {
  width: 460px;
  float: right;
}

.price {
  margin-bottom: 50px;
}

.description-title {
  margin-bottom: 30px;
}

.description-item {
  width: 380px;
  float:left;
  margin-right: 100px;
}

.description-item:last-child {
  margin-right: 0;
}

.description {
  margin-bottom: 80px;
}

.main-footer{
  margin-top: 79px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}
